<div class="container-fluid">
    <%= react_component('StatusBar', { subtitles: @today_stats_subtitles, tooltips: @today_stats_tooltips }) %>
    <%= react_component('DashboardChartCollection') %>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <%= react_component('BJRJobDataTable', { title: t('.recent_title'), full: false, source: '/recent_jobs', pagination: false, perPage: 5, page: 1 }) %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <%= react_component('BJRJobDataTable', { title: t('.upcoming_title'), full: false, source: '/upcoming_jobs', pagination: false, perPage: 5, page: 1 }) %>
                </div>
            </div>
        </div>
    </div>
</div>
