<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="minute-stats" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="hour-stats" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="day-stats" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="week-stats" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="minute-runs" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="hour-runs" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="day-runs" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="week-runs" width="250" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recently Run Jobs</h4>
                    <%= render partial: 'job_list', locals: { jobs: @recent_jobs, table_id: 'recent_jobs' } %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Upcoming Jobs</h4>
                    <%= render partial: 'job_list', locals: { jobs: @upcoming_jobs, table_id: 'upcoming_jobs' } %>
                </div>
            </div>
        </div>
    </div>
</div>
