<div class="footer">
  <div class="copyright">
    <p>BJR Server and BJR Web Copyright &copy; 2020 Barry Walker</p>
    <p>Theme is Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
  </div>
</div>
