<div class="header">
    <div class="header-content clearfix">

        <%= render "hamburger" %>

        <%= render "search" %>

        <div class="header-right">
            <ul class="clearfix">
                <%= render "menu_user" %>
            </ul>
        </div>
    </div>
</div>
