<div class="modal hide fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="bjr-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
