<div class="nav-header">
  <div class="brand-logo">
    <a href="index.html">
      <b class="logo-abbr"><% image_tag 'logo.png' %></b>
      <span class="logo-compact"><%= image_tag 'logo-compact.png' %></span>
      <span class="brand-title"><%= image_tag 'logo-text.png' %></span>
    </a>
  </div>
</div>
