<div class="header-left">
    <div class="input-group icons">
        <div class="input-group-prepend">
            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
        <div class="drop-down   d-md-none">
            <form action="#">
                <input type="text" class="form-control" placeholder="Search">
            </form>
        </div>
    </div>
</div>
