<div class="row">

  <div class="col-3">
    <div class="card card-widget">
      <div class="card-body gradient-3">
        <div class="media">
          <span class="card-widget__icon"><i class="icon-clock"></i></span>
          <div class="media-body">
            <h2 class="card-widget__title" id="jobsEnabled">- / -</h2>
            <h5 class="card-widget__subtitle"><%= t('.jobs_enabled') %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card card-widget">
      <div class="card-body gradient-4">
        <div class="media">
          <span class="card-widget__icon"><i class="icon-check"></i></span>
          <div class="media-body">
            <h2 class="card-widget__title" id="jobsRan">-</h2>
            <h5 class="card-widget__subtitle"><%= t('.jobs_ran_today') %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card card-widget">
      <div class="card-body gradient-green">
        <div class="media">
          <span class="card-widget__icon"><i class="icon-close"></i></span>
          <div class="media-body">
            <h2 class="card-widget__title" id="jobsFailed">-</h2>
            <h5 class="card-widget__subtitle"><%= t('.jobs_failed_today') %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card card-widget">
      <div class="card-body gradient-red">
        <div class="media">
          <span class="card-widget__icon"><i class="icon-speedometer"></i></span>
          <div class="media-body">
            <h2 class="card-widget__title" id="avgRuntime">- seconds</h2>
            <h5 class="card-widget__subtitle"><%= t('.average_runtime_today') %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
